/* Featured Content */
.featured-posts {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.section-titles {
  text-align: center;
  font-family: fantasy;
  letter-spacing: 1px;

}
.second-letter {
  text-decoration: underline;
}
.first-letter {
  font-family: cursive;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  margin: 2.5px;

}

.post-card {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.post-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.post-card h3 {
  margin-bottom: 5px;
}

.post-card p {
  margin-bottom: 10px;
}

.post-card a {
  display: block;
  text-align: right;
 
}

/* Latest Articles */
.latest-articles {
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.article-snippet h3 {
  margin-bottom: 5px;
}

.article-snippet p {
  margin-bottom: 10px;
}

.article-snippet a {
  display: block;
  text-align: right;
}



/* Popular Articles */
.popular-articles {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
}

.popular-article {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.popular-article img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.popular-article h3 {
  margin-bottom: 5px;
}

.popular-article p {
  margin-bottom: 10px;
}

.popular-article a {
  display: block;
  text-align: right;
}